<div class="modpack-listing" data-th-fragment="copy (modpack)">
    <div class="collage">
        <div class="image" style="background-image: url(https://mods-data.factorio.com/pub_data/media_files/D2vLWKD4FByu.thumb.png)"></div>
        <div class="image" style="background-image: url(https://mods-data.factorio.com/pub_data/media_files/GsfUZAF1WWN6.thumb.png)"></div>
        <div class="image" style="background-image: url(https://mods-data.factorio.com/pub_data/media_files/IePuQ7iioYxE.thumb.png)"></div>
        <div class="image" style="background-image: url(https://mods-data.factorio.com/pub_data/media_files/ymbteZEPDCzQ.thumb.png)"></div>
        <div class="dark-overlay"></div>
    </div>
    <div class="title shadowy" data-th-text="#{modpack.name}">Modpack Name Here</div>
    <div class="version shadowy" data-th-text="#{modpack.version}">v1.2.3</div>
    <button class="edit">Edit</button>
    <button class="play">Play</button>
</div>